.list-of-figures {
  list-style: none;
  position: relative;
}
.figure {
  width: 150px;
  height: 150px;
  position: absolute;
}
.figure:nth-child(1) {
  background-color: rgb(211, 117, 117);
  z-index: 1;
}
.figure:nth-child(2) {
  background-color: rgb(125, 114, 220);
  z-index: 2;
  top: 100px;
  left: 130px;

}
.figure:nth-child(3) {
  background-color: rgb(142, 217, 134);
  z-index: 1;
  top: 195px;
  left: 219px;
}
